<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes da Fita VHS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS e Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body class=" bg-light ">

    <div th:replace="~{/fragments/header :: header}"></div>

    <div class="container py-5">
        <div class="card shadow-sm p-4">
            <h2 class="mb-4 text-center">Detalhes da Fita VHS</h2>

            <div class="row align-items-start">
                <!-- Imagem à esquerda -->
                <div class="col-md-4 text-center">
                    <img th:src="@{'/uploads/' + ${vhs.image}}" class="img-thumbnail mb-3" style="max-width: 100%;" />
                </div>

                <!-- Dados à direita -->
                <div class="col-md-8">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>ID:</strong> <span th:text="${vhs.id}"></span></li>
                        <li class="list-group-item"><strong>Título:</strong> <span th:text="${vhs.title}"></span></li>
                        <li class="list-group-item"><strong>Diretor:</strong> <span th:text="${vhs.director}"></span></li>
                        <li class="list-group-item"><strong>Categoria:</strong> <span th:text="${vhs.genre.description}"></span></li>
                        <li class="list-group-item"><strong>Data de Cadastro:</strong> <span th:text="${#temporals.format(vhs.registrationDate, 'dd/MM/yyyy')}"></span></li>
                        <li class="list-group-item"><strong>Status:</strong> <span th:text="${vhs.status}"></span></li>
                    </ul>

                    <div class="mt-4 d-flex justify-content-start">
                        <a th:href="@{/vhs}" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Voltar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
